/*
Theme Name: SimpleMag
Theme URI: http://themesindep.com/
Author: ThemesIndep
Author URI: http://themesindep.com/
Description: Magazine theme for creative things
Template: simplemag
*/


@import url("../simplemag/style.css");

/* Your CSS code goes here
-------------------------------------- */
#branding {
	margin-bottom: 0px;	
}

/* added for formatting AdRotate in home page which is currently ad group 3 - the commented CSS is added within add pro for the group

.g-3 {
	text-align:center;
	}

*/